{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Registrazione</title>
    <link rel="stylesheet" type="text/css" href="{% static 'autenticazione/css/style.css' %}">
</head>
<body>
    <h1>Registrazione</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="/accounts/register/" method="post">
        {% csrf_token %}
        
        <div class="form-field">
            <label for="{{ form.username.id_for_label }}">Nome utente:</label>
            {{ form.username }}
            {% if form.username.errors %}
                <ul class="errorlist">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-field">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
            {{ form.email }}
            {% if form.email.errors %}
                <ul class="errorlist">
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-field">
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
            {% if form.password.errors %}
                <ul class="errorlist">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-field">
            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}:</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <ul class="errorlist">
                    {% for error in form.password2.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <button>Registrati</button>
    </form>
</body>
</html>